@import "tailwindcss";

:root {
  --color-green: #00b178;
  --color-pink: #fe2d88;
  --color-darkPink: #ff2b5a;
}

@layer base {
  h2 {
    @apply text-center !font-extrabold !text-lg lg:!text-2xl;
  }
  h3 {
    @apply !font-bold !text-[var(--color-pink)];
  }
  h4 {
    @apply text-center !font-bold !text-lg;
  }
}
